* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

.App {
    text-align: center;
}

.grid {
    display: flex;
    justify-content: center;
}

.square {
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    line-height: 32px;
    height: 32px;
    padding: 0;
    text-align: center;
    width: 32px;
}

.grid-row:after {
    display: table;
    clear: both;
    content: "";
}

.controllerContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.controllerContainerItem {
    margin-right: 7px;
    background-color: #c7c7c7;
    border-radius: 5px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.controllerContainerItemColorSquare {
    height: 12px;
    width: 12px;
    border: 1px solid #000;
    margin-right: 6px;
}

.bottomController {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.gridSizeSelector {
    margin-left: 1px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
}

.gridSizeSelector {
    font-size: 24px;
}

.sizeSelectorItem {
    margin-top: 6px;
    background-color: #c7c7c7;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

.gridSizeSelector5x5 {}

.gridSizeSelector7x7 {}

@media screen and (max-width: 1244px) {
    .gridSizeSelector13x13 {
        display:none;
    }

    .gridSizeSelector15x15 {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .gridSizeSelector10x10 {
        display: none;
    }
}


.badGridWarning {
    margin-top: 5px;
    margin-bottom: -10px;
    font-weight: bolder;
    font-style: italic;
    color: red;
    font-size: 22px;
}
