* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

.App {
    text-align: center;
}

.a-star-container {
    margin: 10px;
}

.grid {
    display: flex;
    justify-content: center;
}

.square {
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    line-height: 32px;
    height: 32px;
    padding: 0;
    text-align: center;
    width: 32px;
    cursor: pointer;
}

.grid-row:after {
    display: table;
    clear: both;
    content: "";
}

.controllerContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.controllerContainerItem {
    margin-right: 7px;
    background-color: #c7c7c7;
    border-radius: 5px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}

.controllerContainerItem:hover {
    background-color: #adadad;
}

.controllerContainerItemColorSquare {
    height: 12px;
    width: 12px;
    border: 1px solid #000;
    margin-right: 6px;
}

.bottomController {
    margin-top: 15px;
}

.bottom-controller-top-btn {
    margin: 0 10px 0 10px;
    padding-bottom: 5px;
}

.bottom-controller-bottom-btn {
    margin-right: 10px;
}

@media screen and (max-width: 345px) {
    .bottom-controller-top-btn {
        margin-bottom: 5px;
    }

    .bottom-controller-bottom-btn {
        width: 208px;
        margin: 0;
    }
}

.gridSizeSelector {
    margin-bottom: 15px;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
}

.gridSizeSelector {
    font-size: 22px;
}

.sizeSelectorItem {
    margin-top: 6px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    width: 100%;
}

@media screen and (max-width: 1244px) {
    .gridSizeSelector15x15 {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .gridSizeSelector13x13 {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .gridSizeSelector10x10 {
        display: none;
    }
}

.badGridWarning {
    margin-top: 5px;
    margin-bottom: -10px;
    font-weight: bolder;
    font-style: italic;
    color: red;
    font-size: 22px;
}

.visualiser-demo-gif {
    height: 275px;
}

.visualiser-demo-container {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.opposite-travel-whats-this-cont {
    margin-top: 2px;
    font-size: 15px;
    color: -webkit-link;
    cursor: pointer;
    font-weight: bold;
}

.opposite-travel-whats-this-cont:hover {
    color: #2020c6;
    text-decoration: underline;
}

.opposite-travel-modal-demo-cont {
    display: flex;
    justify-content: center;
}

.opposite-travel-modal-demo-gif {
    height: 275px;
}

@media screen and (max-width: 767px) {
    .controllerContainerItem {
        font-size: 16px !important;
    }
}

.MuiAppBar-colorSecondary {
    color: #fff;
    background-color: #858c93 !important;
}

.a-star-container {
    margin-top: 30px;
}

.grid-row {
    justify-content: center;
}
